{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Posts</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            {% for post in posts %}
                <div class="card shadow-sm mb-3 w-50 text-center">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            {% if post.author.avatar %}
                                <a href="{% url 'account:profile' post.author.pk %}">
                                    <img src="{{ post.author.avatar.url }}" class="avatar me-3" alt="pfp"
                                         style="height: 50px; width: 50px; border-radius: 50%;">
                                </a>
                            {% else %}
                                <a href="{% url 'account:profile' post.author.pk %}">
                                    <img src="{% static 'img.png' %}" class="avatar me-3" alt="pfp"
                                         style="height: 50px; width: 50px; border-radius: 50%;">
                                </a>
                            {% endif %}
                            <a href="{% url 'account:profile' post.author.pk %}"
                               style="text-decoration: none; color: black"><h5
                                    class="card-title mb-0">{{ post.author.username }}</h5></a>

                            {% if post.author.pk == request.user.pk %}
                                <div class="dropdown ms-auto">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'webapp:post_update' post.pk %}">Редактировать
                                            пост</a></li>
                                        <li><a class="dropdown-item" href="{% url 'webapp:post_delete' post.pk %}">Удалить
                                            пост</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'webapp:post_comment_view' post.pk %}">
                        <img src="{{ post.image.url }}" class="card-img-top card-image mb-3" alt="Post Image"
                             style="width:500px; height:500px"></a>

                        <p class="card-text">{{ post.summary }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div>
                            <span class="me-2">
                                <form method="post" action="{% url 'webapp:like_post' post.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="btn btn-link text-danger">
                                        <i class="bi bi-heart{% if request.user in post.liked_by.all %}-fill{% endif %}"></i>
                                    </button>
                                    {{ post.likes_count }} Likes <br>
                                    {{ post.created_at|date:'Y-m-d' }}
                                </form>
                            </span>
                        </div>
                        <div>
                            <span class="me-2">
                                <a href="{% url 'webapp:post_comment_view' post.pk %}" style="text-decoration: none; color: black"><i class="bi bi-chat-dots"></i> {{ post.comments_count }} Comments</a>
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
