{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ user_obj.username }}'s Profile</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile-header d-flex align-items-center mb-4">
            <div class="profile-avatar me-3">
                {% if user_obj.avatar %}
                    <img src="{{ user_obj.avatar.url }}" alt="pfp" class="img-fluid rounded-circle"
                         style="width: 150px; height: 150px;">
                {% else %}
                    <img src="{% static 'img.png' %}" alt="pfp" class="img-fluid rounded-circle"
                         style="width: 150px; height: 150px;">
                {% endif %}
            </div>
            <div>
                <h1 class="mb-2">{{ user_obj.username }}</h1>
                <h2 class="mb-2">{{ user_obj.first_name|default:'' }}</h2>
                <p class="bio">{{ user_obj.bio|default:'--' }}</p>
                <div class="d-flex justify-content-between mb-3">
                    <div class="text-center mx-3">
                        <h4>{{ posts_count }} posts</h4>
                    </div>
                    <div class="text-center mx-3">
                        <h4>{{ followers_count|default:0 }} followers</h4>
                    </div>
                    <div class="text-center mx-3">
                        <h4>{{ following_count }} following</h4>
                    </div>
                </div>
                {% if user_obj.username != request.user.username %}

                    {% if is_subscribed %}
                        <form action="{% url 'account:unsubscribe' user_obj.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Unsubscribe</button>
                        </form>
                    {% else %}
                        <form action="{% url 'account:subscribe' user_obj.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <h3>Posts</h3>
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                {% if post.image %}
                                    <a href="{% url 'webapp:post_comment_view' post.id %}"><img src="{{ post.image.url }}" class="card-img-top mb-3"
                                                         alt="Post Image"
                                                         style="width: 100%; height: 300px; object-fit: cover;"></a>
                                {% else %}
                                    <img src="{% static 'img.png' %}" alt="No Image Available">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <p class="text-center">No posts available.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
